<div class="jumbotron text-center">
  <h3>Lancer une nouvelle partie</h3>
  <p class="lead">
    Rejoindre la file d'attente pour jouer une partie avec d'autres personnes.
  </p>
  <a href="/match">
    <button type="button" class="btn btn-primary btn-lg active">JOUER</button>
  </a>
</div>

<h3>Dernières parties</h3>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Joueur 1</th>
      <th>Joueur 2</th>
      <th>Joueur 3</th>
      <th>Joueur 4</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for match in matches %}
      <tr>
        <th scope="row" {{ match.winner == match.j1 ? 'class="alert-success"' : '' }}>{{ match.j1 }}</th>
        <th {{ match.winner == match.j2 ? 'class="alert-success"' : '' }}>{{ match.j2 }}</th>
        <th {{ match.winner == match.j3 ? 'class="alert-success"' : '' }}>{{ match.j3 }}</th>
        <th {{ match.winner == match.j4 ? 'class="alert-success"' : '' }}>{{ match.j4 }}</th>
        <th>{{ match.date|date('d/m/Y H:i:s') }}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>